<div class="header-panel">
    <button mat-icon-button class="header-button-left" (click)="onSettings()" matTooltip="Settings">
        <mat-icon>settings</mat-icon>
    </button>
    <div class="header-title">
        <mat-icon svgIcon="nodered-flows" style="width: 40px;"></mat-icon>
        {{'dlg.setup-node-red-flows' | translate}}
    </div>
    <button mat-icon-button class="header-button-right" (click)="onClose()" matTooltip="Close">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="work-panel">
    <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe" sandbox="allow-forms allow-scripts allow-modals allow-same-origin"></iframe>
</div>