.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 5px;
    .value {
        max-width: 100px;
        margin-right: 10px;
    }
    .link {
        display:inline-block;
        vertical-align: bottom;
        position: relative;
        margin-right: 0;
        flex-shrink: 0;
        .span-link {
            text-overflow:clip;
            white-space:nowrap;
            width: 28px
        }

        button {
            line-height: 28px;
            height:28px;
            width:28px;
            vertical-align: middle;
            padding: 0 !important;
            min-width: 0 !important;
        }

        mat-icon {
            font-size: 24px !important;
            line-height: 24px !important;
            height: 24px !important;
            width: 24px !important;
            color: white !important;
        }
    }
    .input {
        flex-shrink: 1 !important;
        flex-grow: 0 !important;
        flex-basis: auto !important;
        display: inline-block !important;
        vertical-align: bottom !important;
        height: 28px !important;
        line-height: 28px !important;
    }

    // Override my-form-field styles for input
    .my-form-field.input {
        display: inline-block !important;
        vertical-align: bottom !important;
        height: 28px !important;
        line-height: 28px !important;
    }
}

// Force deep override of my-form-field.input globally scoped
:host ::ng-deep .container .my-form-field.input {
    display: inline-flex !important;
    flex-direction: row !important;
    align-items: center !important;
    vertical-align: bottom !important;
    height: 28px !important;
    line-height: 28px !important;
    gap: 4px !important;
}

:host ::ng-deep .container .my-form-field.input > span {
    display: inline !important;
    line-height: 28px !important;
    vertical-align: center !important;
    white-space: nowrap !important;
    flex-shrink: 0 !important;
}

:host {
    .input {
        margin-left: 0px !important;
        vertical-align: bottom !important;
        height: 28px !important;
        line-height: 28px !important;
    }
}

:host ::ng-deep .group-label span {
    line-height: 28px;
    height: 28px;
}

:host ::ng-deep .option-label  {

    line-height: 28px !important;
    height: 28px !important;

    span {
        font-size: 13px;
    }
}
:host ::ng-deep .variable-input {
    font-size: 13px;
    min-width: 450px;
    vertical-align: unset !important;
    width: unset;
    display: inline-flex !important;
    flex-shrink: 1 !important;
}

.tag-link {
    position:absolute;
    bottom: 0px;
    right: 0px;
    height: 28px;
    width: 28px;
    border-radius: 2px 0px 0px 2px;
    background-color: var(--formInputBackground);
    color: var(--formInputColor);
}

.bitmask {
    vertical-align: bottom;
    margin-left: 7px;
}