.container {
  width: 760px;
  position: relative;
}
.toolbox {
    float: right;
    line-height: 44px;
}
.toolbox button {
    margin-left: 10px;
}
.mat-tab-container {
  min-height:300px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 15px;
}
.mat-tab-container > div {
  display: block;
}
.my-form-field {
  display: block;
  margin-bottom: 10px;
}
